body {
  background-color: rgba(184, 46, 44, 0.65);
}
.chat {
  margin: 3rem auto;
  max-width: 900px;
  background: aliceblue;
  padding: 25px 30px;
  border-radius: 10px;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}