.body .btn {
  font-size: 12px;
}

.reply {
  margin-left: 10px;
}

.delete:hover {
  color: #ff4250;
}

.update {
  order: -1;
}

.update:hover {
  color: #ffa918;
}

.under-mess {
  justify-content: flex-end;
}

.avatar {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  color: #fff;
  text-align: center;
  line-height: 34px;
  font-size: 15px;
  margin-right: 15px;
  padding: 0 !important;
  text-transform: uppercase;
}

.avatar > img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  vertical-align: top;
}

.text {
  padding: 13px 19px 15px;
  border-radius: 2px;
  display: inline-block;
}

@media (min-width: 768px) {
  .text {
    max-width: 70%;
  }
}

.ms-date {
  display: block;
  color: #b3b3b3;
  margin-top: 7px;
  margin-left: 3px;
}